/** default element spacing */
/**
  default-spacing shorthand
  @alias $default-spacing
  */
/** margin between different content-types or padding inside the main-content */
/** larger spacing for content-seperation */
/** */
/** */
/** */
/** */
/** */
/**
  @group color
 */
/* --- color definitions --- */
/** @link http://chir.ag/projects/name-that-color/ */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/* --- general use-cases --- */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/* --- messages colors --- */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/* --- typo colors --- */
/** default copy color */
/** copy color for disabled form elements */
/** default link color */
/* --- border colors --- */
/** */
/** */
/** */
/** */
/**
  icon-font-name - `<3` fa!
  @link http://fortawesome.github.io/Font-Awesome/
  */
/**
  icon trivial-name / code map (state 10.09.2014)
  @link http://fortawesome.github.io/Font-Awesome/
  */
/** */
/** */
/** */
/** */
/** spacing between icon and text on main-menu */
/** menu icon map */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** */
/** @group pdf */
/** @group pdf */
/** @group pdf */
/** @group pdf */
/**
  default / most-common font-size
  @group typo
  */
/**
  base line-height
  @group typo
  */
/**
  @group typo
  */
/**
  main / default-font - sans-serif
  @group typo
  */
/**
  in case we need a serif font
  @group typo
  */
/**
  button font
  @group typo
  @requires $font-family-default
  */
/**
  alias for $base-font-size
  @group typo
  @requires $base-font-size
  */
/** @group typo */
/** @group typo */
/** @group typo */
/** @group typo */
/** @group typo */
/** @group typo */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_html5\.scss}line{font-family:\000039}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000329}}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000340}}
audio:not([controls]) {
  display: none;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000347}}
[hidden],
template {
  display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000311}}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000319}}
body {
  margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_links\.scss}line{font-family:\000039}}
a {
  background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_links\.scss}line{font-family:\0000315}}
a:active,
a:hover {
  outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\000039}}
abbr[title] {
  border-bottom: 1px dotted; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000315}}
b,
strong {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000322}}
dfn {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000329}}
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000336}}
mark {
  background: #ff0;
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000343}}
small {
  font-size: 80%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000349}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000357}}
sup {
  top: -0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000361}}
sub {
  bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_embeds\.scss}line{font-family:\000039}}
img {
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_embeds\.scss}line{font-family:\0000315}}
svg:not(:root) {
  overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_groups\.scss}line{font-family:\000039}}
figure {
  margin: 1em 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_groups\.scss}line{font-family:\0000315}}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_groups\.scss}line{font-family:\0000323}}
pre {
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_groups\.scss}line{font-family:\0000329}}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000315}}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000327}}
button {
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000336}}
button,
select {
  text-transform: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000347}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000357}}
button[disabled],
html input[disabled] {
  cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000364}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000373}}
input {
  line-height: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000383}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000393}}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003102}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003113}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003120}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003129}}
legend {
  border: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003136}}
textarea {
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003143}}
optgroup {
  font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_tables\.scss}line{font-family:\000039}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/\.rvm\/gems\/ruby-2\.2\.1\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_tables\.scss}line{font-family:\0000314}}
td,
th {
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\000038}}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\0000315}}
img,
video {
  max-width: 100%;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\0000321}}
media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\0000325}}
img {
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\0000330}}
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\0000338}}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\0000345}}
legend {
  margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\0000349}}
input {
  line-height: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\0000354}}
dt,
dd {
  padding-left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\0000359}}
dt {
  position: relative;
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\0000363}}
  dt:before {
    position: absolute;
    left: 0;
    content: '\2022'; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\0000370}}
dd {
  margin-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/platform-dev\/sites\/all\/themes\/erpal_theme\/sass\/erpal-theme\.normalize\.scss}line{font-family:\0000373}}
  dd + dt {
    margin-top: 10px; }

/*# sourceMappingURL=erpal-theme.normalize.css.map */
