/** */
$jqms-namespace: 'ui-multiselect' !default;

/** */
$jqms-spacing: 10px !default;

/** */
$jqms-color-border: #ccc !default;

/** */
$color-list-hover: #ddd !default;

/** */
$color-list-selected: $color-bg-highlight;
