// @TODO: most px-avlues are directly taken from the original css-settings - should they be converted?

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.header {
  width: 100%;
  height: 100px;

  img {
    width: 88px;
    position: absolute;
  }
}

.text {
  position: absolute;
  top: 300px;
}

.customer {
  .field-label,
  .field__label {
    display: none;
  }

  .field-name-field-customer-lastname,
  .field--name-field-customer-lastname {
    display: none;
  }
}

.line-items {
  margin-top: $pdf-spacing;
}

.commerce-price-formatted-components,
.views-table {
  font-size: .8em;

  table {
    font-size: 1em;
  }
}

.commerce-price-formatted-components {
  tr:first-child td {
    padding-top: .5em;
  }
}

.views-table {
  border-spacing: 0;

  td,
  th {
    padding: .4em 5px;
  }

  thead {
    border-bottom: $pdf-table-border !important;

    th {
      vertical-align: top;
    }
  }

  tbody {
    td {
      border-bottom: 1px solid #ddd;
    }
  }

  .views-row-last td {
    border-bottom-width: 0;
  }
}

.view-commerce-line-item-table {
  table {
    width: 100%;
    line-height: 1.2em;
    border-collapse: collapse;
  }

  th {
    text-align: right;
  }

  td {
    text-align: right;
    height: 30px;
    border-bottom-width: 0;
  }

  .views-field-commerce-total {
    text-align: right;
    padding-right: 5px;
    width: 200px;
  }

  .views-field-line-item-title {
    text-align: left;
    width: 300px;
  }
}

.order-total table {
  width: 100%;
  border-top: $pdf-table-border;
  font-weight: bold;
}

.order-id {
  position: absolute;
  top: 370px;
}

td {
  &.component-title {
    text-align: right;
  }

  &.component-total {
    text-align: right;
    width: 200px;
  }
}

.contextual-links-wrapper {
  display: none;
}
