%main-content {
  @include single-box-shadow(0, 1px, 3px, 0, rgba(#000, .5));
  padding: $inner-spacing;
  border-radius: 5px;
  background: #fff;

  h1 {
    margin: {
      top: 0;
      bottom: $ds;
    }
    font-weight: 500;
    font-size: $font-size-headline;
    line-height: 1.1;
  }
}
